@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 15px;
  font-size: 20px;
  background-color: rgb(113, 111, 114);
  color:rgb(255, 255, 255);
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.attention {
  color: rgb(255, 0, 0);
  font-weight: bold;
  padding: 5px;
  margin: 10px;
  font-size: 23px
}

.section1 {
  border: 5px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 20px;
  margin-bottom: 20px;
}

.index{
  color: rgb(255, 255, 255);
  margin-right: 680px;
}

#html-css-deco-example{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: rgb(47, 136, 163);
  color: rgb(0,255,0);
  display: flex;
  justify-content: center;
}