@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  font-size: 20px;
  background-color: rgb(113, 111, 114);
  color:rgb(255, 255, 255);
}

.section1 {
  border: 5px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 20px;
  margin-bottom: 20px;
}

.index{
  background-color:rgb(203,68,198);
  color: rgb(255, 255, 255);
}